<div class="home-container">
    <div class="stars"></div>
    <div class="twinkling"></div>


    <div class="space-content">
        <div class="intro-words">
            <span>HI,</span>
            <span>MY</span>
            <span>NAME</span>
            <span>IS</span>
            <span>BENJAMIN.</span>
        </div>

        <a class="down-arrow icon-container" href="#mountain-container">
            <i class="fas fa-caret-square-down"></i>
        </a>
    </div>

    <div class="about-intro">
        More about me...
    </div>


    <div class="about-content">
        <div id="about"></div>
        I am a Web Developer with a passion for developing web applications that have a big and positive impact on people's live.
        In addition to coding and learning new tech, I enjoy playing the piano, building PCs, playing board games and video games, and I LOVE learning about space and the human body/mind.
    </div>

    <div class="mountain-intro">
        My work...
    </div>

    <div class="mountain-content">
        <header>
            <div>
                <a href="#about" About>About</a>
                <a href="https://docs.google.com/document/d/1DQPFYJIr2aiuMMZvjc8Qi7Gps8EPxye81WBZCx3o1Fw/edit?usp=sharing" Resume>Resume</a>
            </div>
            <hr>
        </header>

        <ul class="projects-list">
            <li>
                <a href="https://bugoff.herokuapp.com/#/login">
                    <h1>Bug Tracking App</h1>
                    <img src="https://user-images.githubusercontent.com/74139058/139449480-9c350a30-f7c3-4e83-960b-2df40375c6a6.png" alt="bug off log in">
                </a>
            </li>
            <li>
                <a href="https://flix-movies.herokuapp.com/">
                    <h1>Movie App</h1>
                    <img src="https://user-images.githubusercontent.com/74139058/140382118-9cc3b1eb-d7be-4b85-94fc-e363bffb80b0.png" alt="bug off log in">
                </a>
                
            </li>
            <li>
                <a href="https://fast-wildwood-33035.herokuapp.com/">
                    <h1>New York Times Mock page</h1>
                    <img src="https://user-images.githubusercontent.com/74139058/139915710-9c62c30c-84f8-4044-ac18-ec839607fb2e.png" alt="bug off log in">
                </a>
            </li>
        </ul>

        <div id="mountain-container" class="mountain-container">
            <div class="clouds"></div>
            <img class="mountain" src="https://user-images.githubusercontent.com/74139058/141395678-2672719c-641e-4d53-8c2f-fbe14110216b.png" alt="mountain">
        </div>
    </div>

    <footer>
        <a class="icon-container" href="https://www.linkedin.com/in/benjamin-candelario-298449219/"><i class="fab fa-linkedin"></i></a>
        <a class="icon-container" href="https://github.com/semanticsatiation"><i class="fab fa-github-square"></i></a>
    </footer>
</div>