<div class="home-container">
    <div class="stars"></div>
    <div class="twinkling"></div>


    <div class="intro-content">
        WELCOME
    </div>

    <div class="mountain-content">
        <header>
            <div>
                <a href="" About>About</a>
                <a href="https://docs.google.com/document/d/1DQPFYJIr2aiuMMZvjc8Qi7Gps8EPxye81WBZCx3o1Fw/edit?usp=sharing" Resume>Resume</a>
            </div>
            <hr>
        </header>

        <body>
            <ul class="projects-list">
                <li>
                    <a href="https://bugoff.herokuapp.com/#/login">
                        Bug Tracking App
                        <img src="https://user-images.githubusercontent.com/74139058/139449480-9c350a30-f7c3-4e83-960b-2df40375c6a6.png" alt="bug off log in">
                    </a>
                </li>
                <li>
                    <a href="https://flix-movies.herokuapp.com/">
                        Movie App
                        <img src="https://user-images.githubusercontent.com/74139058/140382118-9cc3b1eb-d7be-4b85-94fc-e363bffb80b0.png" alt="bug off log in">
                    </a>
                    
                </li>
                <li>
                    <a href="https://fast-wildwood-33035.herokuapp.com/">
                        New York Times Mock page
                        <img src="https://user-images.githubusercontent.com/74139058/139915710-9c62c30c-84f8-4044-ac18-ec839607fb2e.png" alt="bug off log in">
                    </a>
                </li>
            </ul>
        </body>
        <div class="mountain-container">
            <div class="clouds"></div>
            <img class="mountain" src="https://user-images.githubusercontent.com/74139058/141395678-2672719c-641e-4d53-8c2f-fbe14110216b.png" alt="mountain">
        </div>
    </div>

    <footer>
        <a href="https://www.linkedin.com/in/benjamin-candelario-298449219/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/semanticsatiation"><i class="fab fa-github-square"></i></a>
    </footer>
</div>