<div class="home-container">
    <div class="stars"></div>
    <div class="twinkling"></div>

    
    <header>
        <div>
            <a About>About</a>
            <a Resume>Resume</a>
        </div>
        <hr>
    </header>

    <body>
        <ul class="projects-list">
            <li>
                <a href="https://bugoff.herokuapp.com/#/login">
                    Bug Tracking App
                    <img src="https://user-images.githubusercontent.com/74139058/139449480-9c350a30-f7c3-4e83-960b-2df40375c6a6.png" alt="bug off log in">
                </a>
            </li>
            <li>
                <a href="https://flix-movies.herokuapp.com/">
                    Movie App
                    <img src="https://user-images.githubusercontent.com/74139058/140382118-9cc3b1eb-d7be-4b85-94fc-e363bffb80b0.png" alt="bug off log in">
                </a>
                
            </li>
            <li>
                <a href="https://fast-wildwood-33035.herokuapp.com/">
                    New York Times Mock page
                    <img src="https://user-images.githubusercontent.com/74139058/139915710-9c62c30c-84f8-4044-ac18-ec839607fb2e.png" alt="bug off log in">
                </a>
            </li>
        </ul>
    </body>
    <footer>
        <a href="https://www.linkedin.com/in/benjamin-candelario-298449219/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/semanticsatiation"><i class="fab fa-github-square"></i></a>
    </footer>
</div>