html, body, header, nav, h1, a,
ul, li, strong, main, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  // background: transparent;
}

hr {
  height: 2px;
  border: none;
  border-radius: 50%;
  margin-bottom: 0;
  width: 100%;
  background: white;

  max-width: 800px;
  min-width: 300px;
  width: 90%;
}


ul {
  list-style: none;
}

img {
  display: block;
  width: 500px;
  height: auto;
}